# Variable Secret Proxmox, perlu di perhatikan jangan pernah sampe data sensitif ter-push ke repository
proxmox_api_url="https://192.168.0.1:8006/api2/json"
proxmox_api_token_id="user@pam!terraform"
proxmox_api_token_secret="88773055-81e4-43f3-af4a-b0138c6c058c"

# Variable Secret DNS, perlu di perhatikan jangan pernah sampe data sensitif ter-push ke repository
dns_key_secret="E3Bjc/gL2kvCnMhC2UXgU0PSXKEocSiJ7pl4YFKTcoW="